@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Game For It</h1>

    <p>Game For it is a web page that lets you know what games you should play based on what the people in your group want to play</p>

    <button onclick="">Show Me Game To Play</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
